<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            background-color: blue;
            padding: auto;
            color: wheat;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Edit Product Cart Details</h1>
    <form method="POST" class="edit_form">
        <img src="{{item.image.url}}"/>
        {%csrf_token%}
        <!-- condition -->
        {{form.as_p}}
        <!-- variables -->

        <button type="submit">Save</button>

    </form>
</body>
</html>